.contacto {
  background-image: url("/src/assets/images/bg-formulario1.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 10%;
  height: calc(80vh);
}

.with-zoom {
  transition: transform 0.1s ease-in;
}

.with-zoom:hover {
  transform: scale(1.1);
}

.bg-img-navbar {
  background-image: url("/src/assets/images/img-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 10%;
  height: calc(10vh);
}
.formulario {
  text-align: center;
}

.redes img {
  width: 36px;
  padding: 2px;
}

.carro-compras {
  background-image: url("/src/assets/images/bgimg_carritocompras.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 2%;
}

.login {
  background-image: url("/src/assets/images/bg-login.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 10%;
  height: calc(80vh);
}
.nosotros {
  background-image: url("/src/assets/images/bg-nosotros.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  height: calc(80vh);
}
.carousel-inner {
  width: 100%;
  max-height: 800px;
}

.img-card {
  height: 200px;
}

.img-product-detail {
  max-height: 500px;
  max-width: 500px;
}

.envio-comentario {
  background-image: url("/src/assets/images/bg-envio_comentarios.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  height: calc(80vh);
}
